<div class="mini-gallery">
	<ul class="slick-mini {{galleryMini}}">
		{% for item in gallery.slides %}
			<li>
				<div class="image-hold">
					<img src="images/see&be.png"  alt="">
				</div>
				<div class="image-holder">
					<img src="images/{{ item.imageUrl }}"  alt="">
				</div>
				<h3>{{item.h3}}</h3>
				<strong>{{item.strong}}</strong>
				<p>{{item.p}}</p>
				<a class="more" href="#">LEARN MORE    &gt;</a>
			</li>
		{% endfor %}
	</ul>
	<div class="gal-pagination">
		<a class="{{gallery.btn_prev}}" href="#"></a>
		<div class="slick-pagination {{gallery.pagination}}"></div>
		<a class="{{gallery.btn_next}}" href="#"></a>
	</div>
</div>