<div class="slider-main">
	<ul class="slick-slider {{ gallery.class }}">
	{% for item in gallery.slides %}
	    <li>
			<div class="image-holder">
				<img src="images/{{ item.imageUrl }}"  alt="">
			</div>
			<div class="text-box">
				<div class="text-up">
					<strong>{{item.strong}}</strong>
					<span>{{item.spanTop}}</span>
				</div>
				<div class="text-down">
					<span>{{item.spanDown}}</span>
					<a href="#">{{item.a}}</a>
				</div>
			</div>
		</li>
	{% endfor %}
	</ul>
	<div class="gal-pagination">
		<a class="{{gallery.btn_prev}}" href="#"></a>
		<div class="slick-pagination {{gallery.pagination}}"></div>
		<a class="{{gallery.btn_next}}" href="#"></a>
	</div>
</div>